<%= render @sales_ad %>

<% if @sales_ad.active? %>
  <% unless @sales_ad.owner? current_user %>
    <% if @conversation.nil?%>
      <p><%= link_to 'Tenho interesse', conversation_sales_ad_path(@sales_ad),
                                        method: :post %></p>
    <% else %>
      <ul class="list-group mb-5">
        <li class="list-group-item active">
          <%= "Conversa com #{@sales_ad.user.name}" %>
        </li>

        <%= render partial: 'conversations/conversation' %>
      </ul>
    <% end %>
  <% else %>
  <%= link_to 'Inativar este anuncio', inactive_sales_ad_path(@sales_ad),
      method: :put %>
  <% end %>
<% end %>
