<% @conversation.sent_messages.each do |message| %>
    <% if message.user == current_user %>
      <li class="list-group-item text-left"><strong><%= message.user.name %></strong> diz:<br><%= message.body %></li> 
    <% else %>
      <li class="list-group-item text-right"><strong><%= message.user.name %></strong> diz:<br><%= message.body %></li> 
    <% end %>
<% end %>
<li class="list-group-item">
  <%= form_for [@conversation, @message] do |f| %>
    <%= f.text_field :body, {size: "60x12", class: "form-control", type: 'text'} %>
    <br>
    <%= f.submit "Enviar", class: 'btn btn-primary' %>
  <% end %>
</li>

