 <a id='sales_ad'>Quero vender um produto</a> 

<%= simple_form_for @sales_ad, url: sales_ad_path, html: {id: 'sales_form'} do |f|%>
  <%= f.input :title %>
  <%= f.input :description, as: :text %>
  <%= f.input :photos, as: :file, input_html: { multiple: true } %>
  <%= f.input :price, as: :decimal %>
  <%= f.input :usage_time, collection: 0..60, selected: 0 %>
  <%= f.input :warranty %>
  <%= f.input :expiration_time, collection: [[15, '15 Dias'], [30, '30 Dias'], [60, '60 Dias'], [90, '90 Dias']], label_method: :second, value_method: :first, selected: 15 %>
  <%= f.input :accepted_rule %>
  <%= f.submit 'Criar Anúncio' %>
<% end %>


 <script>
  $('#sales_ad').click(function(){
    $('#sales_form').removeClass('invisible')
  });
 </script>
