<!DOCTYPE html>
<html>
  <head>
    <title>FirmaShop</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if user_signed_in? %>
      <%= link_to 'Sair', destroy_user_session_path, method: :delete %>
      <%= link_to 'Inserir Anúncio', new_product_ad_path %>
    <% end %>
    <% if notice %>
      <div class="alert alert-success" role="alert">
        <%= notice %>
      </div>
    <% end %>
    <% if alert %>
      <div class="alert alert-danger" role="alert">
        <%= alert %>
      </div>
      <p class="notice"><%= notice %></p>
    <% end %>
    <%= yield %>
  </body>
</html>
