<!DOCTYPE html>
<html>
  <head>
    <title>FirmaShop</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="wrapper">
      <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <div class="container">
            <% if current_user&.company&.name %>
              <a class="navbar-brand" href="/"><%= current_user.company.name %></a>
            <% else %>
              <a class="navbar-brand" href="/"><%= image_tag 'logo-firma-shop.svg', height: '40' %></a>
            <% end %>
            <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbartop" aria-controls="navbartop" aria-expanded="false" aria-label="toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="navbar-collapse collapse" id="navbarsExample07" style="" wfd-id="33">
              <% if user_signed_in? %>
                <%= simple_form_for :search,  url: search_sales_ads_path , method: :get, html: {class: 'form-inline ml-auto'} do |f| %>
                  <div class="input-group">
                    <%= f.input :q, autofocus: true, label: 'Buscar', class: 'form-control', placeholder: 'digite o que deseja encontrar',
                      aria: {label: "digite o que deseja encontrar", describedby: "button-search"} %>
                    <div class="input-group-append">
                      <%= f.submit 'Buscar', class: 'btn btn-info', id: 'button-search' %>
                    </div>
                  </div>
                <% end %>
              <% end %>
              <ul class="navbar-nav ml-auto" wfd-id="35">
                <% if user_signed_in? %>
                  <li class="nav-item ml-2">
                    <span class='nav-link'><%= "Olá #{current_user.name} |" %></span>
                  </li>
                  <li class="nav-item" wfd-id="39">
                    <%= link_to 'Sair', destroy_user_session_path, method: :delete, class: 'nav-link' %>
                  </li>
                  <li class="nav-item ml-2 <%= active(conversations_path) %>" wfd-id="41">
                    <%= link_to 'Minhas Mensagens', conversations_path, class: 'nav-link btn btn-outline-info', role: 'button' %>
                  </li>
                  <li class="nav-item active ml-2" wfd-id="40">
                    <%= link_to 'Inserir Anúncio', new_sales_ad_path, class: 'nav-link btn btn-info', role: 'button' %>
                  </li>
                <% end %>
              </ul>
            </div>
        </nav>
      </header>

      <main role='main'>
      <div class='container'>
        <br>
        <% if notice %>
          <div class="alert alert-success" role="alert">
            <%= notice %>
          </div>
        <% end %>
        <% if alert %>
          <div class="alert alert-danger" role="alert">
            <%= alert %>
          </div>
          <p class="notice"><%= notice %></p>
        <% end %>
        <%= yield %>
      </div>
      </main>
          </div>
          <%= render 'shared/footer' %>
  </body>
</html>
